.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

i{
  color: red;
}
#footer
{
  text-align: center;
    color: #A9A9A9;
    padding: 50px 50px 10px 50px;
}
.footer-para
{
  margin-bottom: 5px;
  margin-top: 0px;
}
.blackiconcolor
{
  color: #A9A9A9;
    padding: 10px;
    padding-bottom: 23px;
}

.twitter:hover
{
  color: #00acee;
}

.instagram:hover
{
  color: pink;
}

.facebook:hover
{
  color: #3b5998;
}

.mail:hover
{
  color: #00acee;
}
